.list-group-item {
  border: none;
  border-radius: 10;
  padding: 10px 15px;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  // box-shadow: 0px 4px 4px 0px #00000040;
  transition: all 0.3s;
}

.selected {
  background-color: #ffc107 !important;
  font-weight: bold;
}
