<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-article-heading"
        data-cy="ArticleCreateUpdateHeading"
        jhiTranslate="budgetApplicationApp.article.home.createOrEditLabel"
      >
        Créer ou éditer un Article
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label
              class="form-label"
              for="field_id"
              jhiTranslate="budgetApplicationApp.article.id"
              >ID</label
            >
            <input
              type="number"
              class="form-control"
              name="id"
              id="field_id"
              data-cy="id"
              formControlName="id"
              [readonly]="true"
            />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_category"
            jhiTranslate="budgetApplicationApp.article.category"
            >Category</label
          >
          <select
            class="form-control"
            name="category"
            formControlName="category"
            id="field_category"
            data-cy="category"
          >
            <option [ngValue]="null">
              {{
                "budgetApplicationApp.FinancialCategoryEnum.null" | translate
              }}
            </option>
            @for (
              financialCategoryEnum of financialCategoryEnumValues;
              track $index
            ) {
              <option [value]="financialCategoryEnum">
                {{
                  "budgetApplicationApp.FinancialCategoryEnum." +
                    financialCategoryEnum | translate
                }}
              </option>
            }
          </select>
        </div>

        @let codeRef = editForm.get("code")!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_code"
            jhiTranslate="budgetApplicationApp.article.code"
            >Code</label
          >
          <input
            type="text"
            class="form-control"
            name="code"
            id="field_code"
            data-cy="code"
            formControlName="code"
          />
          @if (codeRef.invalid && (codeRef.dirty || codeRef.touched)) {
            <div>
              @if (editForm.get("code")?.errors?.required) {
                <small
                  class="form-text text-danger"
                  jhiTranslate="entity.validation.required"
                  >Ce champ est obligatoire.</small
                >
              }
            </div>
          }
        </div>

        @let designationRef = editForm.get("designation")!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_designation"
            jhiTranslate="budgetApplicationApp.article.designation"
            >Designation</label
          >
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
          @if (
            designationRef.invalid &&
            (designationRef.dirty || designationRef.touched)
          ) {
            <div>
              @if (editForm.get("designation")?.errors?.required) {
                <small
                  class="form-text text-danger"
                  jhiTranslate="entity.validation.required"
                  >Ce champ est obligatoire.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_accountDiv"
            jhiTranslate="budgetApplicationApp.article.accountDiv"
            >Account Div</label
          >
          <input
            type="text"
            class="form-control"
            name="accountDiv"
            id="field_accountDiv"
            data-cy="accountDiv"
            formControlName="accountDiv"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_codeEnd"
            jhiTranslate="budgetApplicationApp.article.codeEnd"
            >Code End</label
          >
          <input
            type="text"
            class="form-control"
            name="codeEnd"
            id="field_codeEnd"
            data-cy="codeEnd"
            formControlName="codeEnd"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_paragraph"
            jhiTranslate="budgetApplicationApp.article.paragraph"
            >Paragraph</label
          >
          <input
            type="text"
            class="form-control"
            name="paragraph"
            id="field_paragraph"
            data-cy="paragraph"
            formControlName="paragraph"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_chapter"
            jhiTranslate="budgetApplicationApp.article.chapter"
            >Chapter</label
          >
          <select
            class="form-control"
            id="field_chapter"
            data-cy="chapter"
            name="chapter"
            formControlName="chapter"
            [compareWith]="compareChapter"
          >
            <option [ngValue]="null"></option>
            @for (chapterOption of chaptersSharedCollection; track $index) {
              <option [ngValue]="chapterOption">{{ chapterOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            for="field_recipes"
            jhiTranslate="budgetApplicationApp.article.recipe"
            >Recipe</label
          >
          <select
            class="form-control"
            id="field_recipes"
            data-cy="recipe"
            multiple
            name="recipes"
            formControlName="recipes"
            [compareWith]="compareRecipe"
          >
            @for (recipeOption of recipesSharedCollection; track $index) {
              <option [ngValue]="recipeOption">{{ recipeOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            for="field_expenses"
            jhiTranslate="budgetApplicationApp.article.expense"
            >Expense</label
          >
          <select
            class="form-control"
            id="field_expenses"
            data-cy="expense"
            multiple
            name="expenses"
            formControlName="expenses"
            [compareWith]="compareExpense"
          >
            @for (expenseOption of expensesSharedCollection; track $index) {
              <option [ngValue]="expenseOption">{{ expenseOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.cancel"
            >Annuler</span
          >
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.save"
            >Sauvegarder</span
          >
        </button>
      </div>
    </form>
  </div>
</div>
