<div class="container-fluid">
  <div class="list-group my-3 border-bottom-yellow">
    <p
      class="list-group-item list-group-item-action fw-bold mb-0"
      routerLink="/"
    >
      <i class="bi bi-graph-up fs-5 me-2"></i>
    </p>
  </div>
  <div class="list-group my-3 border-bottom-yellow">
    <p
      class="list-group-item list-group-item-action fw-bold mb-0"
      routerLink="/budget-global"
    >
      <i class="bi bi-file-earmark-bar-graph fs-5 me-2"></i>
    </p>
  </div>
  <div class="list-group my-3 border-bottom-yellow">
    <p
      class="list-group-item list-group-item-action fw-bold mb-0"
      routerLink="/controle-des-engagements-des-depenses"
    >
      <i class="bi bi-layers fs-5 me-2"></i>
    </p>
  </div>
  <div class="list-group my-3 border-bottom-yellow">
    <p
      class="list-group-item list-group-item-action fw-bold mb-0"
      routerLink="/mandat-de-paiement"
    >
      <i class="bi bi-file-earmark-check fs-5 me-2"></i>
    </p>
  </div>
  <div class="list-group my-3 border-bottom-yellow">
    <p class="list-group-item list-group-item-action fw-bold mb-0">
      <i class="bi bi-database-check fs-5 me-2"></i>
    </p>
  </div>
  <div class="list-group my-3 border-bottom-yellow">
    <p
      class="list-group-item list-group-item-action fw-bold mb-0"
      routerLink="/fond-propre"
    >
      <i class="bi bi-person-vcard fs-5 me-2"></i>
    </p>
  </div>
  <div class="list-group my-3 border-bottom-yellow">
    <p
      class="list-group-item list-group-item-action fw-bold mb-0"
      routerLink="/rapports-projet-de-budget"
    >
      <i class="bi bi-file-earmark-text fs-5 me-2"></i>
    </p>
  </div>
  <div class="list-group my-3 border-bottom-yellow">
    <p
      class="list-group-item list-group-item-action fw-bold mb-0"
      routerLink="/utilisateur"
    >
      <i class="bi bi-bag-dash fs-5 me-2"></i>
    </p>
  </div>
  <div class="list-group my-3 border-bottom-yellow" routerLink="parametres">
    <p class="list-group-item list-group-item-action fw-bold mb-0">
      <i class="bi bi-gear fs-5 me-2"></i>
    </p>
  </div>
</div>
