<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-recipe-heading"
        data-cy="RecipeCreateUpdateHeading"
        jhiTranslate="budgetApplicationApp.recipe.home.createOrEditLabel"
      >
        Créer ou éditer un Recipe
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label
              class="form-label"
              for="field_id"
              jhiTranslate="budgetApplicationApp.recipe.id"
              >ID</label
            >
            <input
              type="number"
              class="form-control"
              name="id"
              id="field_id"
              data-cy="id"
              formControlName="id"
              [readonly]="true"
            />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_achievementsInThePastYear"
            jhiTranslate="budgetApplicationApp.recipe.achievementsInThePastYear"
            >Achievements In The Past Year</label
          >
          <input
            type="number"
            class="form-control"
            name="achievementsInThePastYear"
            id="field_achievementsInThePastYear"
            data-cy="achievementsInThePastYear"
            formControlName="achievementsInThePastYear"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_newYearForecast"
            jhiTranslate="budgetApplicationApp.recipe.newYearForecast"
            >New Year Forecast</label
          >
          <input
            type="number"
            class="form-control"
            name="newYearForecast"
            id="field_newYearForecast"
            data-cy="newYearForecast"
            formControlName="newYearForecast"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_category"
            jhiTranslate="budgetApplicationApp.recipe.category"
            >Category</label
          >
          <select
            class="form-control"
            name="category"
            formControlName="category"
            id="field_category"
            data-cy="category"
          >
            <option [ngValue]="null">
              {{
                "budgetApplicationApp.FinancialCategoryEnum.null" | translate
              }}
            </option>
            @for (
              financialCategoryEnum of financialCategoryEnumValues;
              track $index
            ) {
              <option [value]="financialCategoryEnum">
                {{
                  "budgetApplicationApp.FinancialCategoryEnum." +
                    financialCategoryEnum | translate
                }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_financialYear"
            jhiTranslate="budgetApplicationApp.recipe.financialYear"
            >Financial Year</label
          >
          <select
            class="form-control"
            id="field_financialYear"
            data-cy="financialYear"
            name="financialYear"
            formControlName="financialYear"
            [compareWith]="compareFinancialYear"
          >
            <option [ngValue]="null"></option>
            @for (
              financialYearOption of financialYearsCollection;
              track $index
            ) {
              <option [ngValue]="financialYearOption">
                {{ financialYearOption.id }}
              </option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label
            for="field_articles"
            jhiTranslate="budgetApplicationApp.recipe.article"
            >Article</label
          >
          <select
            class="form-control"
            id="field_articles"
            data-cy="article"
            multiple
            name="articles"
            formControlName="articles"
            [compareWith]="compareArticle"
          >
            @for (articleOption of articlesSharedCollection; track $index) {
              <option [ngValue]="articleOption">{{ articleOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.cancel"
            >Annuler</span
          >
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.save"
            >Sauvegarder</span
          >
        </button>
      </div>
    </form>
  </div>
</div>
