<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subTitle(); as subTitleRef) {
      <div>
        <h2 data-cy="subTitleDetailsHeading">
          <span jhiTranslate="budgetApplicationApp.subTitle.detail.title"
            >Sub Title</span
          >
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ subTitleRef.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="budgetApplicationApp.subTitle.code">Code</span>
          </dt>
          <dd>
            <span>{{ subTitleRef.code }}</span>
          </dd>
          <dt>
            <span jhiTranslate="budgetApplicationApp.subTitle.designation"
              >Designation</span
            >
          </dt>
          <dd>
            <span>{{ subTitleRef.designation }}</span>
          </dd>
        </dl>

        <button
          type="submit"
          (click)="previousState()"
          class="btn btn-info"
          data-cy="entityDetailsBackButton"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.back"
            >Retour</span
          >
        </button>

        <button
          type="button"
          [routerLink]="['/sub-title', subTitleRef.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.edit"
            >Editer</span
          >
        </button>
      </div>
    }
  </div>
</div>
