<div>
  <h2 id="page-heading" data-cy="PurchaseOrderHeading">
    <span jhiTranslate="budgetApplicationApp.purchaseOrder.home.title">PurchaseOrders</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="budgetApplicationApp.purchaseOrder.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchase-order"
        [routerLink]="['/purchase-order/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="budgetApplicationApp.purchaseOrder.home.createLabel">Créer un nouveau Purchase Order</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (purchaseOrders().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="budgetApplicationApp.purchaseOrder.home.notFound">Aucun Purchase Order trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nameOfTheMinistry">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.nameOfTheMinistry">Name Of The Ministry</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orderNumber">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.orderNumber">Order Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orderDate">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.orderDate">Order Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalAmountWithoutTax">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.totalAmountWithoutTax">Total Amount Without Tax</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="taxRate">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.taxRate">Tax Rate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalTaxAmount">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.totalTaxAmount">Total Tax Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="prepaidTaxAmount">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.prepaidTaxAmount">Prepaid Tax Amount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalAmountWithTax">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.totalAmountWithTax">Total Amount With Tax</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="authExpenditureNumber">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.authExpenditureNumber">Auth Expenditure Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="allocatedCredits">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.allocatedCredits">Allocated Credits</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="committedExpenditures">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.committedExpenditures">Committed Expenditures</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="availableBalance">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.availableBalance">Available Balance</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="annexDecision.id">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.annexDecision">Annex Decision</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="supplier.id">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.supplier">Supplier</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="engagement.id">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.purchaseOrder.engagement">Engagement</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (purchaseOrder of purchaseOrders(); track trackId(purchaseOrder)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/purchase-order', purchaseOrder.id, 'view']">{{ purchaseOrder.id }}</a>
              </td>
              <td>{{ purchaseOrder.nameOfTheMinistry }}</td>
              <td>{{ purchaseOrder.orderNumber }}</td>
              <td>{{ purchaseOrder.orderDate | formatMediumDatetime }}</td>
              <td>{{ purchaseOrder.totalAmountWithoutTax }}</td>
              <td>{{ purchaseOrder.taxRate }}</td>
              <td>{{ purchaseOrder.totalTaxAmount }}</td>
              <td>{{ purchaseOrder.prepaidTaxAmount }}</td>
              <td>{{ purchaseOrder.totalAmountWithTax }}</td>
              <td>{{ purchaseOrder.authExpenditureNumber }}</td>
              <td>{{ purchaseOrder.allocatedCredits }}</td>
              <td>{{ purchaseOrder.committedExpenditures }}</td>
              <td>{{ purchaseOrder.availableBalance }}</td>
              <td>
                @if (purchaseOrder.annexDecision) {
                  <div>
                    <a [routerLink]="['/annex-decision', purchaseOrder.annexDecision.id, 'view']">{{ purchaseOrder.annexDecision.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (purchaseOrder.supplier) {
                  <div>
                    <a [routerLink]="['/supplier', purchaseOrder.supplier.id, 'view']">{{ purchaseOrder.supplier.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (purchaseOrder.engagement) {
                  <div>
                    <a [routerLink]="['/engagement', purchaseOrder.engagement.id, 'view']">{{ purchaseOrder.engagement.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/purchase-order-item']"
                    [queryParams]="{ 'filter[purchaseOrderId.in]': purchaseOrder.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('budgetApplicationApp.purchaseOrder.purchaseOrderItem' | translate) }"
                      >Show Purchase Order Item</span
                    >
                  </button>
                  <a [routerLink]="['/purchase-order', purchaseOrder.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/purchase-order', purchaseOrder.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(purchaseOrder)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (purchaseOrders().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
