<div>
  <h2 id="page-heading" data-cy="SupplierHeading">
    <span jhiTranslate="budgetApplicationApp.supplier.home.title">Suppliers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="budgetApplicationApp.supplier.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-supplier"
        [routerLink]="['/supplier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="budgetApplicationApp.supplier.home.createLabel">Créer un nouveau Supplier</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (suppliers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="budgetApplicationApp.supplier.home.notFound">Aucun Supplier trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="companyName">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.companyName">Company Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="address">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.address">Address</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phone">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.phone">Phone</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="nifNumber">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.nifNumber">Nif Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="commercialRegister">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.commercialRegister">Commercial Register</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="bankAccount">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.bankAccount">Bank Account</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="mandatingEstablishment">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.mandatingEstablishment">Mandating Establishment</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="website">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.website">Website</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contactFirstname">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.contactFirstname">Contact Firstname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="contactlastname">
              <div class="d-flex">
                <span jhiTranslate="budgetApplicationApp.supplier.contactlastname">Contactlastname</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (supplier of suppliers(); track trackId(supplier)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/supplier', supplier.id, 'view']">{{ supplier.id }}</a>
              </td>
              <td>{{ supplier.companyName }}</td>
              <td>{{ supplier.address }}</td>
              <td>{{ supplier.phone }}</td>
              <td>{{ supplier.nifNumber }}</td>
              <td>{{ supplier.commercialRegister }}</td>
              <td>{{ supplier.bankAccount }}</td>
              <td>{{ supplier.mandatingEstablishment }}</td>
              <td>{{ supplier.email }}</td>
              <td>{{ supplier.website }}</td>
              <td>{{ supplier.description }}</td>
              <td>{{ supplier.contactFirstname }}</td>
              <td>{{ supplier.contactlastname }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/purchase-order']"
                    [queryParams]="{ 'filter[supplierId.in]': supplier.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('budgetApplicationApp.supplier.purchaseOrder' | translate) }"
                      >Show Purchase Order</span
                    >
                  </button>
                  <a [routerLink]="['/supplier', supplier.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/supplier', supplier.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(supplier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (suppliers().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
