<div class="text-center">
  <h2 class="fw-bold">Paramètres</h2>
</div>
<hr style="height: 5px; opacity: 100%" class="c-yellow" />

<div class="container-fluid my-5">
  <div class="row">
    <div class="col-md-3 mb-5">
      <div
        class="card border-yellow box-shadow text-center pointer bg-yellow-hover fw-bold py-3"
        routerLink="/article"
      >
        <i class="bi bi-database-check fs-1"></i>
        <p class="fs-20">Article</p>
      </div>
    </div>
    <div class="col-md-3 mb-5">
      <div
        class="card border-yellow box-shadow text-center pointer bg-yellow-hover fw-bold py-3"
        routerLink="/chapitre"
      >
        <i class="bi bi-file-earmark-check fs-1"></i>
        <p class="fs-20">Chapitre</p>
      </div>
    </div>
    <div class="col-md-3 mb-5">
      <div
        class="card border-yellow box-shadow text-center pointer bg-yellow-hover fw-bold py-3"
        routerLink="/sub-title"
      >
        <i class="bi bi-layers fs-1"></i>
        <p class="fs-20">Sous titres</p>
      </div>
    </div>
    <div class="col-md-3 mb-5">
      <div
        class="card border-yellow box-shadow text-center pointer bg-yellow-hover fw-bold py-3"
        routerLink="/financial-year"
      >
        <i class="bi bi-file-earmark-bar-graph fs-1"></i>
        <p class="fs-20">Exercice budgetaire</p>
      </div>
    </div>
    <!-- <div class="col-md-4 mb-5">
            <div class="card border-yellow box-shadow text-center pointer bg-yellow-hover fw-bold py-3" routerLink="/fond-propre">
                <i class="bi bi-person-vcard fs-1"></i>
                <p class="fs-20">Compte admistratif</p>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card border-yellow box-shadow text-center pointer bg-yellow-hover fw-bold py-3" routerLink="/rapports-projet-de-budget">
                <i class="bi bi-file-earmark-text fs-1"></i>
                <p class="fs-20">Rapports</p>
            </div>
        </div> -->
  </div>
</div>
