<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-purchase-order-item-heading"
        data-cy="PurchaseOrderItemCreateUpdateHeading"
        jhiTranslate="budgetApplicationApp.purchaseOrderItem.home.createOrEditLabel"
      >
        Créer ou éditer un Purchase Order Item
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label
              class="form-label"
              for="field_id"
              jhiTranslate="budgetApplicationApp.purchaseOrderItem.id"
              >ID</label
            >
            <input
              type="number"
              class="form-control"
              name="id"
              id="field_id"
              data-cy="id"
              formControlName="id"
              [readonly]="true"
            />
          </div>
        }

        @let productNameRef = editForm.get("productName")!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_productName"
            jhiTranslate="budgetApplicationApp.purchaseOrderItem.productName"
            >Product Name</label
          >
          <input
            type="text"
            class="form-control"
            name="productName"
            id="field_productName"
            data-cy="productName"
            formControlName="productName"
          />
          @if (
            productNameRef.invalid &&
            (productNameRef.dirty || productNameRef.touched)
          ) {
            <div>
              @if (editForm.get("productName")?.errors?.required) {
                <small
                  class="form-text text-danger"
                  jhiTranslate="entity.validation.required"
                  >Ce champ est obligatoire.</small
                >
              }
            </div>
          }
        </div>

        @let quantityRef = editForm.get("quantity")!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_quantity"
            jhiTranslate="budgetApplicationApp.purchaseOrderItem.quantity"
            >Quantity</label
          >
          <input
            type="number"
            class="form-control"
            name="quantity"
            id="field_quantity"
            data-cy="quantity"
            formControlName="quantity"
          />
          @if (
            quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)
          ) {
            <div>
              @if (editForm.get("quantity")?.errors?.required) {
                <small
                  class="form-text text-danger"
                  jhiTranslate="entity.validation.required"
                  >Ce champ est obligatoire.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let unitPriceRef = editForm.get("unitPrice")!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_unitPrice"
            jhiTranslate="budgetApplicationApp.purchaseOrderItem.unitPrice"
            >Unit Price</label
          >
          <input
            type="number"
            class="form-control"
            name="unitPrice"
            id="field_unitPrice"
            data-cy="unitPrice"
            formControlName="unitPrice"
          />
          @if (
            unitPriceRef.invalid && (unitPriceRef.dirty || unitPriceRef.touched)
          ) {
            <div>
              @if (editForm.get("unitPrice")?.errors?.required) {
                <small
                  class="form-text text-danger"
                  jhiTranslate="entity.validation.required"
                  >Ce champ est obligatoire.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('unitPrice')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let totalAmountRef = editForm.get("totalAmount")!;
        <div class="mb-3">
          <label
            class="form-label"
            for="field_totalAmount"
            jhiTranslate="budgetApplicationApp.purchaseOrderItem.totalAmount"
            >Total Amount</label
          >
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
          @if (
            totalAmountRef.invalid &&
            (totalAmountRef.dirty || totalAmountRef.touched)
          ) {
            <div>
              @if (editForm.get("totalAmount")?.errors?.required) {
                <small
                  class="form-text text-danger"
                  jhiTranslate="entity.validation.required"
                  >Ce champ est obligatoire.</small
                >
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_purchaseOrder"
            jhiTranslate="budgetApplicationApp.purchaseOrderItem.purchaseOrder"
            >Purchase Order</label
          >
          <select
            class="form-control"
            id="field_purchaseOrder"
            data-cy="purchaseOrder"
            name="purchaseOrder"
            formControlName="purchaseOrder"
            [compareWith]="comparePurchaseOrder"
          >
            <option [ngValue]="null"></option>
            @for (
              purchaseOrderOption of purchaseOrdersSharedCollection;
              track $index
            ) {
              <option [ngValue]="purchaseOrderOption">
                {{ purchaseOrderOption.id }}
              </option>
            }
          </select>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.cancel"
            >Annuler</span
          >
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.save"
            >Sauvegarder</span
          >
        </button>
      </div>
    </form>
  </div>
</div>
