<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-annex-decision-heading"
        data-cy="AnnexDecisionCreateUpdateHeading"
        jhiTranslate="budgetApplicationApp.annexDecision.home.createOrEditLabel"
      >
        Créer ou éditer un Annex Decision
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label
              class="form-label"
              for="field_id"
              jhiTranslate="budgetApplicationApp.annexDecision.id"
              >ID</label
            >
            <input
              type="number"
              class="form-control"
              name="id"
              id="field_id"
              data-cy="id"
              formControlName="id"
              [readonly]="true"
            />
          </div>
        }

        <div class="mb-3">
          <label
            class="form-label"
            for="field_designation"
            jhiTranslate="budgetApplicationApp.annexDecision.designation"
            >Designation</label
          >
          <input
            type="text"
            class="form-control"
            name="designation"
            id="field_designation"
            data-cy="designation"
            formControlName="designation"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_expenseAmount"
            jhiTranslate="budgetApplicationApp.annexDecision.expenseAmount"
            >Expense Amount</label
          >
          <input
            type="text"
            class="form-control"
            name="expenseAmount"
            id="field_expenseAmount"
            data-cy="expenseAmount"
            formControlName="expenseAmount"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_creditsAlreadyOpen"
            jhiTranslate="budgetApplicationApp.annexDecision.creditsAlreadyOpen"
            >Credits Already Open</label
          >
          <input
            type="text"
            class="form-control"
            name="creditsAlreadyOpen"
            id="field_creditsAlreadyOpen"
            data-cy="creditsAlreadyOpen"
            formControlName="creditsAlreadyOpen"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_creditsOpen"
            jhiTranslate="budgetApplicationApp.annexDecision.creditsOpen"
            >Credits Open</label
          >
          <input
            type="text"
            class="form-control"
            name="creditsOpen"
            id="field_creditsOpen"
            data-cy="creditsOpen"
            formControlName="creditsOpen"
          />
        </div>

        <div class="mb-3">
          <label
            class="form-label"
            for="field_financialYear"
            jhiTranslate="budgetApplicationApp.annexDecision.financialYear"
            >Financial Year</label
          >
          <select
            class="form-control"
            id="field_financialYear"
            data-cy="financialYear"
            name="financialYear"
            formControlName="financialYear"
            [compareWith]="compareFinancialYear"
          >
            <option [ngValue]="null"></option>
            @for (
              financialYearOption of financialYearsCollection;
              track $index
            ) {
              <option [ngValue]="financialYearOption">
                {{ financialYearOption.id }}
              </option>
            }
          </select>
        </div>
      </div>

      <div>
        <button
          type="button"
          id="cancel-save"
          data-cy="entityCreateCancelButton"
          class="btn btn-secondary"
          (click)="previousState()"
        >
          <fa-icon icon="ban"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.cancel"
            >Annuler</span
          >
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.save"
            >Sauvegarder</span
          >
        </button>
      </div>
    </form>
  </div>
</div>
