<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (annexDecision(); as annexDecisionRef) {
      <div>
        <h2 data-cy="annexDecisionDetailsHeading">
          <span jhiTranslate="budgetApplicationApp.annexDecision.detail.title"
            >Annex Decision</span
          >
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ annexDecisionRef.id }}</span>
          </dd>
          <dt>
            <span jhiTranslate="budgetApplicationApp.annexDecision.designation"
              >Designation</span
            >
          </dt>
          <dd>
            <span>{{ annexDecisionRef.designation }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="budgetApplicationApp.annexDecision.expenseAmount"
              >Expense Amount</span
            >
          </dt>
          <dd>
            <span>{{ annexDecisionRef.expenseAmount }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="budgetApplicationApp.annexDecision.creditsAlreadyOpen"
              >Credits Already Open</span
            >
          </dt>
          <dd>
            <span>{{ annexDecisionRef.creditsAlreadyOpen }}</span>
          </dd>
          <dt>
            <span jhiTranslate="budgetApplicationApp.annexDecision.creditsOpen"
              >Credits Open</span
            >
          </dt>
          <dd>
            <span>{{ annexDecisionRef.creditsOpen }}</span>
          </dd>
          <dt>
            <span
              jhiTranslate="budgetApplicationApp.annexDecision.financialYear"
              >Financial Year</span
            >
          </dt>
          <dd>
            @if (annexDecision()!.financialYear) {
              <div>
                <a
                  [routerLink]="[
                    '/financial-year',
                    annexDecision()!.financialYear?.id,
                    'view',
                  ]"
                  >{{ annexDecisionRef.financialYear?.id }}</a
                >
              </div>
            }
          </dd>
        </dl>

        <button
          type="submit"
          (click)="previousState()"
          class="btn btn-info"
          data-cy="entityDetailsBackButton"
        >
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.back"
            >Retour</span
          >
        </button>

        <button
          type="button"
          [routerLink]="['/annex-decision', annexDecisionRef.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span
            jhiTranslate="entity.action.edit"
            >Editer</span
          >
        </button>
      </div>
    }
  </div>
</div>
