<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (decisionItem(); as decisionItemRef) {
      <div>
        <h2 data-cy="decisionItemDetailsHeading">
          <span jhiTranslate="budgetApplicationApp.decisionItem.detail.title">Decision Item</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ decisionItemRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="budgetApplicationApp.decisionItem.beneficiary">Beneficiary</span></dt>
          <dd>
            <span>{{ decisionItemRef.beneficiary }}</span>
          </dd>
          <dt><span jhiTranslate="budgetApplicationApp.decisionItem.amount">Amount</span></dt>
          <dd>
            <span>{{ decisionItemRef.amount }}</span>
          </dd>
          <dt><span jhiTranslate="budgetApplicationApp.decisionItem.observation">Observation</span></dt>
          <dd>
            <span>{{ decisionItemRef.observation }}</span>
          </dd>
          <dt><span jhiTranslate="budgetApplicationApp.decisionItem.decision">Decision</span></dt>
          <dd>
            @if (decisionItem()!.decision) {
              <div>
                <a [routerLink]="['/decision', decisionItem()!.decision?.id, 'view']">{{ decisionItemRef.decision?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/decision-item', decisionItemRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
